<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Humor do betão</title>
    <link rel="stylesheet" href="betão2/static/style.css" />
</head>
<body>
    <div class="conteudo">
        <div class="conteudo">

            <div class="bloco">
                nome: {{nome}}
            </div>

            <div class="bloco">
                idade: {{idade}}
            </div>

            <div class="imagem">
                <img src="{{img}}" width="200 "/>
            </div>

            <div class="bloco">
                {{texto}}
            </div>

        </div>
    </div>    
</body>
</html>