

.conteudo{
    font-family: Verdana,  sans-serif;
    color:skyblue;
    width: 800;
}


.bloco{
    font-family: Verdana,  sans-serif;
    color: black;
    font:bolder;
}

.imagem{
    width: 400;

}