<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humor do betão</title>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <div class="conteudo">
        {% if feliz %}

        <div class="bloco">
            nome: {{nome}}
        </div>
        <div class="bloco">
            idade: {{idade}}
        </div>
        <div class="imagem">
            <img src="{{imagem1}}" width="200" />
        </div>
        <div class="bloco">
            {{texto1}}
        </div>

        {% else %}
        <div class="bloco">
            nome: {{nome}}
        </div>
        <div class="bloco">
            idade: {{idade}}
        </div>
        <div class="imagem">
            <img src="{{imagem2}}" width="200" />
        </div>
        <div class="bloco">
            {{texto2}}
        </div>

        {% endif %}

    </div>



</body>
</html>